root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = tab
indent_size = 4
tab_width = 4
insert_final_newline = true
max_line_length = 120
trim_trailing_whitespace = true

[*.css]
indent_style = tab

[*.sass]
indent_style = tab

[*.scss]
indent_style = tab

[*.vue]
indent_style = tab

[{*.ats,*.cts,*.mts,*.ts}]
indent_style = tab

[{*.cjs,*.js}]
indent_style = tab

[{*.har,*.jsb2,*.jsb3,*.json,.babelrc,.commitlintrc,.eslintrc,.prettierrc,.stylelintrc,bowerrc,jest.config}]
indent_style = tab

[{*.yaml,*.yml}]
indent_size = 4
